# **List**

# **Task 1: List**

In [13]:
# Create the list of 10 integers
numbers=[1, 10, 15, 12, 25, 35, 45, 55, 60, 65]
print(numbers)

# Find and print the sum, maximum, minimum

print('Sum:',sum(numbers))
print('Max:', max(numbers))
print('min:',min(numbers))

# Add and remove the element

numbers.append(70)
numbers.remove(25)
print('Updated list:',numbers)

# Sort ascending and descending
numbers.sort()
print('Ascending:', numbers)
numbers.reverse()
print('Descending:', numbers)

[1, 10, 15, 12, 25, 35, 45, 55, 60, 65]
Sum: 323
Max: 65
min: 1
Updated list: [1, 10, 15, 12, 35, 45, 55, 60, 65, 70]
Ascending: [1, 10, 12, 15, 35, 45, 55, 60, 65, 70]
Descending: [70, 65, 60, 55, 45, 35, 15, 12, 10, 1]

# **Task 2: Tuples**

In [17]:
# Create a tuple
fruits = ('apple','banana','watermelon','mango','grapes')
print('Second element:', fruits[1])
print('last element:', fruits[-1])

# Cannot perform updations

fruits_list=list(fruits)
fruits_list.append('guava')
print(fruits_list)

Second element: banana
last element: grapes
['apple', 'banana', 'watermelon', 'mango', 'grapes', 'guava']

# **Task 3: Sets**

In [18]:
A={1,2,3,4,5,}
B={2,4,6,8,10,}
print('Union:', A | B)
print('Intersection:', A & B)
print('Difference:', A - B)

Union: {1, 2, 3, 4, 5, 6, 8, 10}
Intersection: {2, 4}
Difference: {1, 3, 5}

# **Task 4: Dictionary**

In [19]:
# Create of distionary of friends and there marks
friends={'shoaib': 98,'ismail': 99,'usman':80,'mohiz':85}

# Print keys and values
print('key:',friends.keys())
print('values:',friends.values())

# Update values
friends['ismail']=100
print(friends)

key: dict_keys(['shoaib', 'ismail', 'usman', 'mohiz'])
values: dict_values([98, 99, 80, 85])
{'shoaib': 98, 'ismail': 100, 'usman': 80, 'mohiz': 85}

# **Task 5: Numpy**

# **Task 6: Matplolibs**